html{
  width: 100%;
}
:root {
  font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 24px;
  font-weight: 400;

  color-scheme: light dark;
  color: rgba(255, 255, 255, 0.87);
  background-color: #242424;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

a {
  font-weight: 500;
  color: #646cff;
  text-decoration: inherit;
}
a:hover {
  color: #535bf2;
}

body {
  margin: 0;
  display: flex;
  text-align: center;
  min-width: 320px;
  min-height: 100vh;
  width: 100%;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

button {
  border-radius: 8px;
  border: 1px solid transparent;
  padding: 0.6em 1.2em;
  font-size: 1em;
  font-weight: 500;
  font-family: inherit;
  background-color: #1a1a1a;
  cursor: pointer;
  transition: border-color 0.25s;
}
button:hover {
  border-color: #646cff;
}
button:focus,
button:focus-visible {
  outline: 4px auto -webkit-focus-ring-color;
}

@media (prefers-color-scheme: light) {
  :root {
    color: #213547;
    background-color: #ffffff;
  }
  a:hover {
    color: #747bff;
  }
  button {
    background-color: #f9f9f9;
  }
}


.header{
  min-width: 840px;
}
.label, .day{
  background: #fff;
  border: 1.3px solid #999;
  float: left;
  font-size: 24px;
  font-weight: bold;
  line-height: 34px;
  margin-right: -1px;
  margin-top: -1px;
  text-align: center;
  width: 120px;
}
@media (min-width: 840px) {
  .label, .day{
    width: calc(100%/7);
  }
  body{
    display: table;
    overflow: visible;
  }
}

@media (min-width: 1240px) {
  .label, .day{
    width: 170px;
  }

  body{
    display: flex;
    overflow: visible;
  }
}

.label{
  height: 34px;
}
.day{
  height: 128px;
  text-align: left;
  padding-left: 10px;
}

.screen{
  padding: 20px;
}

.header, .year_choice, .schedule_detail_header{
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.title{
  font-style: italic;
}


.month_set{
  padding-top: 10px;
  text-align: center;
 
}
.month_button{
  width: 4em;
  border-radius: 0;
}

.row0{
  background-color: rgb(253, 218, 223);
  color: red;
}

.row6{
  background-color: #c2ebf3;
  color: blue;
}

.today{
  color: #129d12;
  border-top-width: 10px;
  border-top-color: #129d12;
}

.form{
  color: black !important;
}

.form_font{
  font-size: 0.6em;
}

.day_font{
  font-size: 100%;
}


.schedule_set{
  overflow: auto;
  height: 73%;
}


.schedule_detail{
  font-size: 0.7em;
}

.schedule_detail_header{
  width: 90%;
}
